# front end app
# Logs
front_end/logs
front_end/*.log
front_end/npm-debug.log*
front_end/yarn-debug.log*
front_end/yarn-error.log*
front_end/pnpm-debug.log*
front_end/lerna-debug.log*

front_end/node_modules
front_end/dist
front_end/dist-ssr
front_end/*.local